<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/common/template::head('利用確認済み', ~{::link})">
	<base href="https://jbf-test.herokuapp.com">
	<meta charset="utf-8" />
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NJN5ZX4');</script>
	<!-- End Google Tag Manager -->
	<meta name="viewport" content="width=device-width, shrink-to-fit=yes" />
	<title>デモサイト | 大阪わくわくプラン2018</title>
	<link rel="stylesheet" href="/vticket/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/vticket/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/layout.css?rev=12" media="all" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/color.css?rev=12" media="all" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/pc.css?rev=12" media="only screen and (orientation:landscape)" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/sp.css?rev=12" media="only screen and (orientation:portrait)" />
	<script src="/vticket/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/vticket/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="//vticket-mwg.firebaseapp.com/vticket/images/favicon.ico" />
</head>

<body>
  <!--/* Google Analytics */-->
  <th:block th:replace="common/template::ga"></th:block>

  <div id="container">

    <!--/* header */-->
    <th:block th:replace="front/common/template::header"></th:block>

    <div id="main-contents">

    <!--/* 利用確認済み情報 */-->
    <div id="authcomp_msg_1" class="alert alert-info">
    	<span class="text-info">以下の店舗でのご利用を確認しました。</span>
    	<span id="authcomp_label_1"><field>利用店舗</field><value th:text="${shopName}">＠＠＠＠＠＠＠＠＠＠＠＠＠＠</value></span>
    	<span id="authcomp_label_2"><field>認証日時</field><value th:text="${authDate}">2001/08/01 15:31:24</value></span>
    </div>

    <!--/* 会員情報 */-->
    <th:block th:object="${session['__${T(jp.jtbebenefit.ticket.common.constants.TicketSystemConst).FRONT_INFO_SESSION}__']}">
    <div id="auth_msg_1">
    	<h3>
	    	<span id="auth_label_1" class="label label-primary" style="border-radius: 1.25em!important;"
	    		th:text="*{serviceName}">〇〇△△◇◇プラン 2001</span>
	    	<span id="auth_label_2" class="label label-primary" style="border-radius: 1.25em!important;"
	    		th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd')}">2001/08/01 </span>
    	</h3>
    </div>
    <div id="auth_msg_2">
    	<span th:text="'会員番号： ' + *{userNumber}">会員番号： 99900099999900</span>
    	<span th:text="'会員名： ' + *{userName}">会員名： カタログ　タロウ</span>
    	<attention>※会員番号は先頭14桁で確認します。</attention>
    </div>
    </th:block>

    <!--/* メニュー内容 */-->
    <th:block th:object="${vitemData}">
    <div id="auth_msg_4" style="margin-top: 10px; margin-bottom: 10px;">
    	<div style="border-color: silver!important; border: 1px solid transparent; border-radius: 4px; padding: 15px; font-size: 80%;">
	    	<span th:text="'利用確定メニュー名： ' + *{itemName}">利用確定メニュー名： 999 メニューの名称メニューの名称メニューの名称</span>
	    	<br/>
	    	<span th:text="*{ticketNumber} + ' 枚利用しました'">1 枚利用しました</span>
    	</div>
    </div>
    </th:block>

    <!--/* 会員情報 */-->
    <th:block th:object="${session['__${T(jp.jtbebenefit.ticket.common.constants.TicketSystemConst).FRONT_INFO_SESSION}__']}">
    <div id="auth_msg_3" class="alert alert-success" style="margin-top: 10px;">
    	<span class="text-primary" th:text="'利用可能残枚数： ' + *{availableTicket} + ' 枚'">利用可能残枚数： 1 枚</span>
    	<br/>
    	<span class="text-primary" style="margin-left: 15px;" th:text="'有効期限： ' + *{#stringHelper.formatDate(periodEndDate)}">有効期限： 2002/5/31</span>
    </div>
    </th:block>

    <!--/* 戻るボタン */-->
    <div id="authcomp_msg_2" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="text-center" style="margin-top: 10px; margin-bottom: 20px;">
			<a th:href="@{/itemlist}"><button type="submit" class="btn btn-primary">&nbsp;トップへ戻る&nbsp;</button></a>
		</div>
	</div>

    </div>

    <!--/* footer */-->
    <th:block th:replace="front/common/template::footer"></th:block>
  </div>
  <!--/* /#container */-->

</body>
</html>