<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/common/template::head('今すぐ利用', ~{::link})">
	<base href="https://jbf-test.herokuapp.com">
	<meta charset="utf-8" />
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NJN5ZX4');</script>
	<!-- End Google Tag Manager -->
	<meta name="viewport" content="width=device-width, shrink-to-fit=yes" />
	<title>デモサイト | 大阪わくわくプラン2018</title>
	<link rel="stylesheet" href="/vticket/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/vticket/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/layout.css?rev=12" media="all" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/color.css?rev=12" media="all" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/pc.css?rev=12" media="only screen and (orientation:landscape)" />
	<link rel="stylesheet" type="text/css" href="/vticket/css/front/sp.css?rev=12" media="only screen and (orientation:portrait)" />
	<script src="/vticket/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/vticket/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="//vticket-mwg.firebaseapp.com/vticket/images/favicon.ico" />
	<style>
	.qrcode-text{
		height: 34px;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	.qrcode-text-btn {
		height: 3em;
		width: 3em;
	}
	</style>
</head>

	<!-- QR Code -->
	<script th:src="@{/js/front/qr_packed.js}"></script>

<body>
  <!--/* Google Analytics */-->
  <th:block th:replace="common/template::ga"></th:block>

  <div id="container">

    <!--/* header */-->
    <th:block th:replace="front/common/template::header"></th:block>

    <div id="main-contents">

    <!--/* エラーメッセージ */-->
    <div th:if="${error}" id="shop_error_msg" class="alert alert-danger">
		<span>メニューコードが間違っているか、
		対象のメニューが現在ご利用いただけない可能性があります。<br/>
		読み込んだパネルの内容を確認し、再度お試しください。
    	</span>
    </div>

    <!--/* 今すぐ利用画面  */-->
 	<div id="scan_msg_1">
 		<strong>下のマークをタップしてＱＲコードをスキャンしてください。</strong>
 	</div>
	<div id="scan_msg_2" style="margin-top: 10px;">
		<form id="qrForm" th:action="@{/shop/scan}" method="POST" class="form-inline">
		<div id="scan_msg_3">
			<input type="text" class="qrcode-text form-control" id="cd" name="cd" placeholder="店頭メニューコード" autocomplete="off" maxlength="50">
			<label class=qrcode-text-btn>
				<input type=file
					 accept="image/*"
					 capture=environment
					 onclick="return showQRIntro();"
					 onchange="openQRCamera(this);"
					 tabindex=-1>
			</label>
		</div>
		<div  id="scan_msg_4" style="margin-top: 10px; margin-bottom: 10px;">
			<span>スキャン出来ると次の画面へ進みます。<br>
			手入力の場合は「次へ」ボタンをタップしてください。</span>
		</div>
		<div id="scan_msg_5">
			<!--/* 企業に設定されたHTML */-->
			<th:block th:utext="${companyHtml}"></th:block>
		</div>
		<div id="scan_msg_6" class="text-right" style="margin-top: 10px; margin-bottom: 20px;">
			<input type="text" class="qrcode-text" id="cd" name="cd" placeholder="パネルに記載のコード" autocomplete="off" maxlength="50">
			<button type="submit" class="btn btn-primary" id="btn_next">&nbsp;次へ&nbsp;</button>
		</div>
		</form>
	</div>

    </div>

    <!--/* footer */-->
    <th:block th:replace="front/common/template::footer"></th:block>
  </div>
  <!--/* /#container */-->

<script type="text/javascript">
//2値化しない通常のQRコード読み取り
function openQRCamera(node) {
	var reader = new FileReader();

	// アップロードされたファイルの読み込み完了後に呼ばれる
	reader.onload = function() {
		node.value = "";

		// qrcode.decode後に呼ばれるコールバック
		qrcode.callback = function(res) {
			if(res instanceof Error) {
				alert("QRコードの読み取りに失敗しました。\nカメラの中央にQRコードを表示し、再度撮影してください。");
			} else {
				console.log('res: ' + res);
				node.parentNode.previousElementSibling.value = res;
				// resが空でなければFormをsubmitする
				if(res != null && res != '') {
					$('#qrForm').submit();
				}
			}
		};

		// 読み込んだファイルをQRコードリーダーへ渡す
		qrcode.decode(reader.result);
	};

	// アップロードされたファイルの読み込み
	reader.readAsDataURL(node.files[0]);
}

// カメラ起動時にメッセージを表示する
function showQRIntro() {
  return confirm("カメラを使用してQRコードを撮影します。");
}

// 次へボタンクリック時
$(function() {
	$('#btn_next').click(function(e) {
		if($('#cd').val() == '') {
			alert('店頭メニューコードが未入力です。');
			e.preventDefault();
			return false;
		}
	});
});
</script>

</body>
</html>
