@charset "utf-8";

/* デバイス共通スタイル */

/* 共通部品 */
* {
    padding: 0px;
    margin: 0px;
}
body{
	font-size: 14px;
	text-align: center;
	word-break: break-all;
}
ul{
	margin-top:15px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	list-style: none;
	display: inline-block;
}
li{
	display: inline;
}
ul.bullet {
    margin: 0;
}
ul.bullet li {
    display: list-item;
    list-style: disc;
    margin-left: 1em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
    white-space:pre-line;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clear-all {
    clear: both;
}
th,td.nobr {
    white-space: nowrap;
}

.site-title{
    line-height: 2.2;
    margin-left: 20px;
}
a.site-title:hover{
	text-decoration: none;
}

#container{
	padding-left:0px;
	padding-right:0px;
	margin:0px auto;
	text-align: left;
}
/* フォームクリアボタン */
::-ms-clear {
  display: none;
}
.control-clear {
    display: block;
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    margin-top: 0.5em;
    right: 15px;
}
.control-clear:before {
    content: "\f00d";
    font-family: FontAwesome;
    height: 2em;
    width: 2em;
    display: block;
    text-align: center;
    padding: 5px;
}
.control-clear.right-button {
    right: 100px;
}
/* ヘッダ */
#header{
	background-repeat: no-repeat;
}
.navbar-form{
    padding: 0px;
}
header.simple {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
}

header.simple ~ div#main-contents {
    margin-top: 4em;
}
/* フッタ */
div#href_top {
    font-size: small;
    position: fixed;
    cursor: pointer;
}
#footer .copyright{
    white-space: nowrap;
}
#footer{
    clear: both;
    width: 100%;
    min-height: 200px;
    padding: 50px;
}
#footer .s_poly,#footer .p_poly{
    float: right;
    margin-left: 10px;
}
#custom-contents{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#main-contents{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#user_info{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#user_info > div{
    width: 100%
}
#user_info .charge, #user_info .number, #user_info .expiration{
	display: inline-block;
	margin-left:8px;
}
#user_info .name, #user_info .charge{
    font-size: 18px;
    white-space: nowrap;
}
#user_info .number:before{
	content:"会員番号: ";
}
#user_info .charge:before{
	content:"利用券残数: ";
}
#user_info .name:after{
	content:"様、ようこそ！";
    white-space: normal;
}
#user_info .charge:after{
	content:" 枚";
}
#user_info .expiration:before{
	content:"　有効期限: ";
}
#user_info .number:before,#user_info .charge:before,#user_info .charge:after,#user_info .expiration:before{
	font-size: 14px;
}
#header .gnav{
	padding-top: 10px;
    width: 100%;
}
#header > .gnav a{
	margin-bottom: 10px;
}
li.separater:before{
	content: "　";
	padding:10px;
}

/* バナー */
#com-banner{
    clear: both;
}
#com-banner div.banner {
    border-radius: 3px;
    padding: 0;
}


/* 商品一覧画面 */
#search{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
    width: 90%;
}
#search > .navbar-form{
    width: 90%;
}
#search > .navbar-form .form-control{
    width: 400px;
}
#search > ul{
    float: left;
}
#search > nav{
    float: right;
}
nav .only-one {
    visibility: hidden;
}
nav .only-one + p {
    margin-top: 1em;
}
#itemlist {
    margin-top: 0px;
}
#itemlist a:hover{
    text-decoration: none;
}
#itemlist .item {
    border-width: 1px;
    border-style: solid;
}
#list h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#list ul.default{
    display: block;
    margin-left: 20px;
    margin-bottom: 30px;
}
#list ul.default > li{
    display: list-item;
}
nav.paging p {
    font-size: small;
}
nav.paging li a {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

/* (トグルボタン) */
li.toggle-sw.invalid:before, li.toggle-sw.active:before {
    content: "";
    border-radius: 10px;
    width: 20%;
    height: 2em;
    left: 40%;
    display: block;
    position: absolute;
}
li.toggle-sw.active:before {
    top: 0.5em;
}
li.toggle-sw.invalid:before {
    top: -0.5em;
}
li.toggle-sw.active {
    top: -5px;
}
li.toggle-sw.invalid {
    top: 5px;
}
li.toggle-sw.active, li.toggle-sw.invalid {
    margin-bottom: 20px;
}

.nav>li.toggle-sw>a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
/*（スライド表示付きボタン）*/
.range-sw:after {
    content: "";
    display: none;
    width: 80%;
    height: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}
.range-sw>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.range-sw > li.active:after {
    content: none;
    display: block;
    position: absolute;
    bottom: -1em;
    margin-left: 45%;
    margin-right: 45%;
    height: 1em;
    width: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* (条件パネル) */
.condition-block > p {
    margin: 0px;
}
.condition-block {
    display: inline-block;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
/* 商品詳細画面 */
#item_image {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
#item_image img {
    width: 400px;
    height: 400px;
}
#to_apply, #registor {
   font-size: 18px;
   font-weight: bold;
   padding: 13px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
   margin-top: 15px;
   border: 0px;
   border-radius: 5px;
   width: 180px;
   text-align: center;
   display: block;
}
button[disabled] {
   cursor: not-allowed;
}
#item_html dd {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-right-radius: 8px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    white-space: pre-line;
}
#item_html dd.guidance,
#item_html dd.how_to {
    white-space: normal;
}
#item_html dt {
    font-size: larger;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-right-radius: 8px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 1.5em;
}
#item_html dd > a {
    padding: 0.5em;
    line-height: 2.5em;
    border-radius: 5px;
}
#item_html dd > a[target=_blank]::after {
    content: "\f08e";
    font-family: FontAwesome;
    padding-left: 0.3em;
}
#item_html dt.contents, #item_html dt.selector {
    border-radius: 0px;
    border: 0px;
    clear: both;
}
#item_html dd.contents, #item_html dd.selector {
    margin: 3px;
    font-weight: normal;
    padding: 0.6em;
    border-radius: 0px;
    border: 0px;
    line-height: 1.7em;
    font-size: larger;
}
#item_html dl > .description {
    background: none;
    border: none;
    font-size: x-large;
}
.carousel-indicators li {
    border-width: 1px;
    border-style: solid;
}
#category_name {
    margin-bottom: 1.5em;
}

div#item_image {
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: inherit;
    margin-right:inherit;
}
#ticket_number:before {
    content: "必要枚数： ";
}
#ticket_number {
    border-width: 1px;
    border-style: solid;
    display: flex;
    line-height: 3em;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 100px;
    margin-top: 2em;
    min-width: 250px;
    font-size: x-large;
    font-weight: bold;
    word-break: keep-all;
}
/* 配送先設定画面 */
#address_setting label{
	width: 230px;
    text-align: left;
}
#address_setting label > .label {
    float: right;
    margin-right: 5px;
}
#address_setting input::placeholder {
    white-space:pre-wrap;
    font-size:smaller;
}
#address_setting div.help-block::before{
    content: "\f06a　";
    font-family: FontAwesome;
}
span.annotation {
    border-width: 1px;
    border-style: solid;
    width: auto;
    display: none;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 2em;
    border-radius: 0.4em;
    margin: 0.3em 1em;
    word-break: break-word;
    text-indent: -1.3em;
}
span.annotation::before {
    content: "\f05a";
    margin-right: 0.3em;
    font-family: FontAwesome;
}

/* 申請画面 / 履歴画面 */
#history td ul {
    display: block;
    clear: both;
    padding-top: 10px;
}
#history td ul li {
    margin: 3px;
    line-height: 2.3em;
    white-space: nowrap;
    padding-left: 1em;
    text-indent: -1em;
    display: inline-block;
}
span.fieldname, span.fieldvalue {
    padding: 5px;
    border: 1px solid;
}
span.fieldname {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}
span.fieldvalue {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: pre-line;
}
#history img, #application-item img{
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 8px;
}
#history span.supplement, #application-item span.supplement{
    display: block;
}
#main-contents table.table tbody tr:not([id]) > td > a::before {
    content: "＜共通券＞ \a0";
}
span.comment.shipping_number:not(:empty)::before {
    content: "\f0d1";
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-family: FontAwesome;
}
span.comment.shipping_number {
    font-size: smaller;
    white-space: normal;
    display: block;
    margin-top: 0px;
    line-height: 1.5em;
}
a.setting_button {
    color: white;
    background-color: #337ab7;
    padding-top: 0.4em;
    padding-right: 0.8em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    border-radius: 7px;
    margin-left: 1em;
}
a.setting_button::before {
    content: "\f2bb";
    font-family: FontAwesome;
    margin-right: 0.3em;
}

/* 履歴画面(フェーズ2追加)ここから */
#history .itemclass-9 .app_info {
    display:none;
}

#history .itemclass-9 .common_info.useshop .fieldname::before {
    content:"店舗名および";
}
#history tr[id|=application] > td::before {
    display:block;
    font-size:xx-small;
    font-weight:normal;
    padding:1ex;
    border-radius:1.4ex;
    float:right;
}
#history tr[id|=application].itemclass-1 > td::before {
    content:"モノメニュー";
    background-color:#9eceac;
}
#history tr[id|=application].itemclass-5 > td::before {
    content:"コトメニュー";
    background-color:#ecb8f1;
}
#history tr[id|=application].itemclass-9 > td::before {
    content:"ＱＲコード対応コトメニュー";
    background-color:#d9e5f5;
}
/* 履歴画面(フェーズ2追加)ここまで */

/* Ｑ＆Ａと説明ページ共通 */
header.simple {
    padding: 10px;
}
header.simple a {
    font-size: large;
}

ol#qa{
    margin: 1.2em;
    clear:both;
}
ol#qa li{
    counter-increment: qa_cnt;
}
ol#qa li>label.open:before {
    content: "Ｑ" counter(qa_cnt) ". ";
}
ol#qa li>span:before {
    content: "Ａ. ";
    font-weight: bold;
}
ol#qa li>label.open, ol#qa li>span{
    border-width: 1px;
    border-style: solid;
    text-indent: -1.3em;
    padding-left: 2.5em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
ol#qa li>label.open{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
}
ol#qa li>span{
    margin-top: -1px;
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0px;
    margin: 0px;
    display: block;
    position: relative;
}
ol#qa address {
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
}
ol#qa input.open {
    display: none;
}
ol#qa label.open{
    width:100%;
}

/* Ｑ＆Ａと説明ページ（タブ分け） */
ol#qa li {display: none}
 input#group-goods:checked ~ ol li[group=goods]
,input#group-ticket:checked ~ ol li[group=ticket]
,input#group-service:checked ~ ol li[group=service]
,input#group-other:checked ~ ol li[group=other]
 {display:block}

ol#qa label.open:after {
    font-weight: normal;
}
ol#qa li:before {
    margin-top: 15px;
    padding-top: 15px;
    display: block;
}
ol#qa li[group=goods]:before {
    content: "＜モノメニューに関する質問＞";
}
ol#qa li[group=ticket]:before {
    content: "＜コトメニューに関する質問＞";
}
ol#qa li[group=service]:before {
    content: "＜サービス全般に関する質問＞";
}
ol#qa li[group=other]:before {
    content: "＜その他の質問＞";
}

input[name=group].tab {display: none}
label.tab {
    display: block;
    height: auto;
    float: left;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    transition-duration: 0.2s;
}

attention {
    margin-top: 0.5em;
    display: block;
    text-indent: -1.2em;
    padding-left: 1.2em;
}
attention::before {
    content: "\f0a2";
    font-family: FontAwesome;
    margin-right: 0.3em;
}
comment {
    margin-top: 0.2em;
    display: block;
    text-indent: -1.2em;
    padding-left: 1.2em;
}
comment:before {
    content: "※";
    margin-right: 0.3em;
}
h3.info{
    font-weight: bold;
}
h3.info:before {
    content: "\f02e";
    font-family: FontAwesome;
    position: relative;
    left: -0.3em;
    color: maroon;
}

/* テーブル表記 */
table.flat, table.horizontal {
    border-spacing: 2px;
    border-collapse: separate;
}
table.flat {
    width: 98%;
}
table.flat th, table.horizontal th {
    word-break: keep-all;
}
table.flat th,table.flat td,table.horizontal th,table.horizontal td {
    padding: 8px;
    margin: 3px;
    text-indent: 0;
}
table.horizontal th.blank {
    min-width: 180px;
    display: inline-block;
}
table.horizontal tbody th {
    position: absolute;
    min-width: 180px;
    margin: 0px;
}
table.flat th.mono, table.flat th.koto {
    width: 45%;
}
td.phone-no {
    white-space: nowrap;
}

/* 商品詳細横展開テーブル */
#item_html dd.grid.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* ポップアップ */
div.address {
    position: absolute;
    width:fit-content;
    text-indent: 0;
}
div.address .address-content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding:11px;
}
div.address .address-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid;
    margin-bottom:-1px;
    padding:11px;
    font-size:medium;
    font-weight:bold;
}
div.address img.freedial {
    width: 3em;
}
div.address span.phone-no {
    font-size: x-large;
    vertical-align: middle;
    margin-left: 0.4em;
    font-family: sans-serif;
}

/* アイコン */
.icon{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid;
    line-height: 3.5em;
    font-weight: bold;
}
#item_html dd.icon:before {
    content: "※ ";
}
#item_html dd.icon {
    border-radius: 0px;
    border: 0px;
    border: none;
    display: inline-block;
}
#item_html dt.icon {
    display: inline;
}

/* 受け付け期間外 */
li.item.out-of-term:before {
    content: "受け付け期間外";
    position: absolute;
    display: block;
    text-align: center;
    transform: rotate(10deg);
    padding-top: 10px;
    padding-right: 13px;
    padding-bottom: 10px;
    padding-left: 13px;
    margin-left: 70px;
    margin-top: 8px;
    white-space: nowrap;
}

/* 交換済み */
div#header.no-balance {
    margin-top: 40px;
}
div#header.no-balance:before {
    content: "\f00c \00a0 お申し込み済み";
    display: block;
    text-align: center;
    font-size: large;
    white-space: pre;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    line-height: 2;
    font-family: FontAwesome;
    position: fixed;
    z-index: 100;
}

/* 商品内選択肢 */
input.selector {
    display: none;
}
input.selector + label {
    line-height: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1em;
    padding-left: 2.5em;
    cursor: pointer;
    transition: background-color 0.5s;
    width: auto;
    text-indent: -2em;
    border-radius: 2px;
}
input.selector + label .selector-sw {
    display: inline-block;
    width: 40px;
    height: 10px;
}
input.selector + label .selector-sw::before {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 10px;
    margin-top: 0;
    border-radius: 5px;
    transition: 0.5s;
}
input.selector + label .selector-sw::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    border-radius: 9px;
    transition: 0.5s;
}
input.selector:checked + label .selector-sw::after {
    margin-left: 10px;
}
.double-select {
    display: none;
    white-space: nowrap;
}
.double-select label::after {
    content: "×２";
}
input.selector:checked + label + div.double-select {
    display: inline-block;
    width: auto;
    margin-left: 5em;
}

ul.select-one li.selected::before {
    content:"\f0da";
    font-size: larger;
    font-family:  FontAwesome;
}
ul.select-one li.selected {
    text-indent: -3em;
    padding-left: 3em;
}
ul.select-one li {
    display: inline-block;
    text-indent: -2em;
    padding-left: 2.5em;
    padding-right: 0.5em;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: -10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
/* 同意確認窓 */
#Pharmaceutical_sales_confirmation_matter{
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    padding-left:20px;
    padding-right:20px
}
#Pharmaceutical_sales_confirmation_matter h3{
    margin-top:40px;margin-bottom:20px
}
#Pharmaceutical_sales_confirmation_matter h4{
    margin-left:25px;margin-bottom:10px
}
#Pharmaceutical_sales_confirmation_matter p{
    margin-left: 60px;
    margin-bottom:30px
}
#Pharmaceutical_sales_confirmation_matter img{
    margin-left:90px;
    margin-bottom:30px;
    width: 40%
}
#Pharmaceutical_sales_confirmation_matter h3,
#Pharmaceutical_sales_confirmation_matter h4 {
    text-indent: -2em;
    margin-left: 2em;
}

/* 今すぐ利用画面(フェーズ2) */
.qrcode-text-btn {
  display: inline-block;
  height: 5em;
  width: 5em;
  margin: 2em;
  margin-left: 20%;
  background: url(/vticket/css/qr_icon-4662f6e9ae045121f06f76672bdb1d37.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text {
  display: inline!important;
  font-size: 16px;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.qrcode-text + .qrcode-text-btn {
  width: 1.7em;
  margin-left: -2.5em;
  vertical-align: middle;
  margin-bottom: 0;
}

.input-auth-number {
	font-size: 16px;
}
icon {
    display:block;
    font-size:xx-small;
    font-weight:normal;
    padding:1ex;
    border-radius:1.4ex;
    float:right;
    margin-bottom:1em;
}
icon.itemclass-1 {
    content:"モノメニュー";
    background-color:#9eceac;
}
icon.itemclass-5 {
    content:"コトメニュー";
    background-color:#ecb8f1;
}
icon.itemclass-9 {
    content:"ＱＲコード対応コトメニュー";
    background-color:#d9e5f5;