/* 今すぐ利用 認証待ち画面 */
#auth_msg_1 span.service-name,
#auth_msg_1 span.date {
  font-size: 70%;
  color: white;
  background-color: #337ab7;
  padding: 0.2em 0.8em;
  border-radius: 1.5ex;
}

#auth_msg_2, #auth_msg_4 {
  padding: 0.2em 0.8em;
}

.qrcode-text-btn {
  display: inline-block;
  height: 1.5em;
  width: 1em;
  background: url(/vticket/images/qr_icon.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.qrcode-text {
  height: 3em;
  width: 80%;
  padding: 6px 6px;
  margin: 1em 3em;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.qrcode-text + .qrcode-text-btn {
  width: 1.8em;
  height: 1.8em;
  margin-left: -5.5em;
  vertical-align: middle;
  margin-bottom: 0;
}

/* 今すぐ利用 認証済み画面 */
#authcomp_msg_1 {
  background-image: url(/vticket/images/maru.svg);
  background-position-x: 90%;
  background-position-y: 50%;
  background-size: auto;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: #d9edf7;
}
#authcomp_msg_1 span {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
}
#authcomp_msg_1 span field,#authcomp_msg_1 span value{
  white-space: nowrap;
  border-radius: 1em;
  padding:0.2em;
  padding-left:0.8em;
}
#authcomp_msg_1 span field{
  text-align: left;
  color: #bd6126;
  background-color:#fddd9d;
  padding-right:1.8em;
}
#authcomp_msg_1 span value{
  background-color:#da7b3e;
  color: white;
  padding-right:0.5em;
  margin-left: -1.5em
}
