.qrcode-text-btn {
  display: inline-block;
  height: 1.5em;
  width: 1em;
  background: url(/vticket/images/qr_icon.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text {
  display: inline!important;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.qrcode-text + .qrcode-text-btn {
  width: 1.7em;
  margin-left: -2.5em;
  vertical-align: middle;
  margin-bottom: 0;
}
